body {
    background: rgb(215, 230, 173);
  }
  
  .navbar {
    margin-right: 0px;
    margin-left: 0px;
    padding: 25px;
    background: #93a2b3;
  }
  
 
  .navbar li {
    display: d-block;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
  }

  .box{
    padding: 10px;
    background: rgb(214, 212, 212);
    margin-top:50px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:20px;
    align-content: center;
  }
  

  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 20px;
  }
  
  
  p{
      font-size: 20px;
  }
  
  
  .comp-data{color:white;
    font-size: 30px;
  }
  
  .latitude {
    color: white;
    font-size: 40px;
    background-color: #42647a;
    padding: 15px;
  }



  @media (max-width: 480px) {
    .navbar li {
      padding: 10px;
    }
    .box {
      margin-right: 20px;
      margin-left: 20px;
    }
    .navbar ul {
      visibility: hidden;
    }
    #nav-select {
      visibility: visible;
    }
  }
  
    
  @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      [class*="col-"] {
          width: 100%;
      }
  }